:root {
	--image-max-height: 240px;
}

.custom_view_card {
	background-color: var(--background-primary);
	border: 1px solid var(--background-modifier-border);
	border-radius: 5px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.bases-list-entry-body {
	padding: 12px 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	height: var(--image-max-height);
}

.base-list-entry-body-button {
	cursor: pointer;
	height: 48px;
}

.base-list-entry-text {
	cursor: pointer;
	font-size: large;
	font-weight: 900;
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.base-list-entry-text-inner {
	cursor: pointer;
	font-size: large;
}

.base-list-entry-image {
	width: calc(var(--image-max-height) * 2);
	height: var(--image-max-height);
	object-fit: cover;
}

.base-list-entry-footer {
	border-top: 1px solid var(--background-modifier-border);
	background-color: var(--background-secondary);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	gap: 5px;
}

.base-list-entry-score {
	font-size: medium;
	width: 2em;
	display: flex;
	justify-content: center;
}

.base-list-score-adjust-button {
	padding: 7px;
}

.no-decoration {
	list-style: none;
	padding-inline-start: unset;
	padding: 10px;
	margin-block-start: initial;
}

.bases-list-group {
	position: relative;
	bottom: 0;
	margin-bottom: 60px;
	background-color: var(--background-primary-alt);
}

.bases-list-group-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
}
