.custom_view_card {
	border: 1px solid var(--background-modifier-border);
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.bases-list-entry-body {
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.base-list-entry-text {
	cursor: pointer;
	font-size: large;
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.base-list-entry-text-inner {
	cursor: pointer;
	font-size: large;
}

.base-list-entry-footer {
	border-top: 1px solid var(--background-modifier-border);
	display: flex;
	align-items: center;
	padding: 10px 20px;
	gap: 5px;
}

.base-list-entry-score {
	font-size: medium;
	width: 2em;
	display: flex;
	justify-content: center;
}

.base-list-score-adjust-button {
	padding: 7px;
}

.no-decoration {
	list-style: none;
	padding-inline-start: unset;
	padding: 10px;
	margin-block-start: initial;
}

.bases-list-group {
	position: relative;
	bottom: 0;
	margin-bottom: 60px;
}

.bases-list-group-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
}
