/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.custom_view_card {
	font-size: large;
	padding: 20px;
	border: 1px solid var(--background-modifier-border);
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
}

.no-decoration {
	list-style: none;
	padding-inline-start: unset;
	padding: 10px;
	margin-block-start: initial;
}

.bases-list-group {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100vh;
}

.bases-list-group-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
}
